# Starter pipeline
trigger:
- master

pool:
  vmImage: 'ubuntu-latest'

steps:
  
- task: AzureResourceManagerTemplateDeployment@3
  inputs:
    deploymentScope: 'Resource Group'
    azureResourceManagerConnection: 'pipeline_connection_to_cmp1'
    subscriptionId: 'afc91b15-6199-4c2c-a175-d7af583d8116'
    action: 'Create Or Update Resource Group'
    resourceGroupName: 'monitordeploycmp1'
    location: 'East US'
    templateLocation: 'URL of the file'
    csmFileLink: 'https://dev.azure.com/aptumdevops/_git/templatedeploy?path=%2Fstatic.multialert.deploy.json'
    csmParametersFileLink: 'https://dev.azure.com/aptumdevops/_git/templatedeploy?path=%2Fstatic.multithreshold.windows.cpu.parameters.json'
    deploymentMode: 'Incremental'

